@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0;
  padding: 0;
}
.header_container{
    background-color: #ff5200;
    height: 100px;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
}
.logo-image{
    height: 50px;
    padding: 10px;
    margin-left: 70px;
    margin-top: 10px;
    
}
.flexing-header-elements{
    display: flex;
    flex-direction: row;
    margin-left: 450px;
    margin-top: 20px;
   
    
}
.get-btns{
    height: 50px;
    width: 120px;
    background: fixed;
    border-color: white;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.btns-sign{
    height: 50px;
    width: 120px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.hell{
    margin-left: 40px;
    
    font: 16px ;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.btns{
    margin-left: 15px;
}

.shiva{
    background-color: #ff5200;
}
.btn-products{
    background: fixed;
    height: 50px;
    width: 120px;
    border-radius: 15px;
    margin-left: 650px;
    color: white;
    font-weight: bold;
   cursor: pointer;

}
.btn-products:hover{
    background-color: blue;
}
.card {
  width: 280px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 10px;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}

.card-rating {
  color: #fbbf24; /* yellow-500 */
  font-weight: bold;
  margin-bottom: 6px;
}

.card-place {
  color: #555;
  font-size: 14px;
}

.order-btn {
  margin-top: 12px;
  width: 100%;
  background: #e53935;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.order-btn:hover {
  background: #c62828;
}

/* Grid for the cards */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}
.main-wrapper{
    display:flex;
    flex-wrap: wrap;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  margin: 20px;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  background-color: #656262;
}
.search-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10 0px;
}
.input-conatiner{
  height: 30px;
  width: 160px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  
}
.button-container{
  height: 35px;
  margin-left: 20px;
  width: 80px;
  cursor: pointer;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}

.button-container:hover{
  background-color: blue;
  color: white;
  font-weight: bold;
}
.link-style{
  text-decoration: none;
  text-underline-offset: unset;
} 
.vishnu{
  color: white;
}